@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-header: #0E1B6B;
  --color-navbar: #131C55;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}


